.card__container {
  display: flex;
  justify-content: center;
}

.car__item {
  border: 1px solid #7c8a9736;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.car__img {
  height: 15rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.car__img img{
  height: auto;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1rem;
}

.car__name {
  color: #D92332;
  font-weight: 700;
}

.car__item-info span i {
  color: #D92332;
  font-size: 1.1rem;
}

.car__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.car__item-content {
  margin-top: 2.5rem;
}

.car__item-content h4 {
  font-size: 1.8rem;
}

.car__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {
  .car__item {
    height: auto;
}
}

@media only screen and (max-width: 1200px) {
  .car__img {
    height: 190px;
}
  .car__img img {
    width: 100%;
}
}

@media only screen and (max-width: 992px) {
  .car__item {
    width: auto;
}
  .car__img {
    height: 190px;
}
.car__item-content {
  margin-top: 1rem;
}

.car__item h4 {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.car__item h6 {
  font-size: 1rem;
  margin-top: 10px;
}

.car__item-info {
  flex-wrap: wrap;
}

.car__item-info span {
  font-size: 0.8rem;
  justify-content: space-between;
}

.car__item-btn {
  padding: 5px 10px;
  font-size: 0.9rem;
}
}

@media only screen and (max-width: 768px) {
  .car__img {
    height: 100%;
}
  .car__item-content {
    margin-top: 0;
  }
  .car__item h4 {
    font-size: 1rem;
}

  .car__item h6 {
    font-size: 0.9rem;
}

  .car__item-info span {
    font-size: 0.7rem;
}

  .car__item-info span i {
    font-size: 0.9rem;
}

  .car__item-btn {
    font-size: 0.8rem;
}
}

@media only screen and (max-width: 576px) {
  .car__img {
    height: auto;
}
}