.contact__form {
  width: 100%;
/*   display: flex;
  align-items: center;
 */}

/* .contact__label {
   width: 5%;
   margin-right: 2rem;
   color: #000d6b;
}
 */
.contact__form input,
.textarea {
  padding: 8px 15px;
  border: 1px solid #7c8a972a;
  color: black;
  width: 100%;
  margin-bottom: 0.5rem;
/*   margin-left: 2rem;
 */}

.contact__form select,
.textarea {
  width: 100%;
  padding: 10px 15px;
  color: #7c8a97;
  border: 1px solid #7c8a972a;
  border-radius: 4px;
}


.textarea:focus,
.contact__form input:focus,
.contact__form select:focus {
  outline: none;
}

.social__link-icon {
  text-decoration: none;

  color: #D92332;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contact_info h6 p {
  font-size: 1rem;
}


@media only screen and (max-width: 768px) {
  .contact__form {
    width: 100%;
  }

  .contact__form input,
  .textarea,
  .contact__form select {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 40px;
    font-size: 0.8rem;
  }
}

