.logo img{
  height: 3.2rem;
}

.nav {
  font-size: 1.3rem;
}


.nav__container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-grow: 1;
  margin: 0;
}

.nav__container a {
  color: #262526;
  font-weight: 600;
  text-decoration: none;
}

.nav__container a.active {
  color: #D92332;
}

.nav__container a:hover {
  color: #D92332;
}

.canvas__header {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}

.canvas__title {
  grid-column-start: 2;
}

.canvas__title img {
  height: 4rem;
}

.btn-close {
  grid-column-start: 3 !important;
  margin-left: auto;
}

.button__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}

@media (max-width: 1200px) {
  .button__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .canvas__header{
    display: none !important;
  }

}
