@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262526;
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: #262526;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #D92332;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: black;
  font-size: 1rem;
}

section {
  padding: 50px 0px;
}

.btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.custom__btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  background-color: #D92332;
  border-radius: 9999px;
  border: 0;
  transition: 0.3s;
}


.custom__btn:hover {
  background-color: #262526;
}

.custom__btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.custom__btn a:hover {
  color: white;
}

.form__btn {
  background-color: #239B56;
}

.black__btn {
  background-color: #262526
}

.white__btn {
  background-color: #F2F2F2;
  color: #262526;
}

.custom__btn.black__btn:hover,
.custom__btn.white__btn:hover {
  background-color: #D94350;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #7c8a972f;
  border-radius: 50px;
  background: #F2F2F2;
  width: 35% !important;
  height: 2.2rem;
  margin: auto;
}

.search input {
  background: transparent;
  color: #262526;
  border: none;
  outline: none;
  width: 100%;
}

.search span i {
  color: #262526;
}

.modal-title {
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: medium !important;
}

.modal-header {
  background-color: #D92332;
  color: white;
}

label {
  font-weight: 600;
}



@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }
  .search {
    width: 100% !important;
  }
}
