.hero {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  gap: 1.25rem;
}

.hero__left {
  flex: 1 1 0%;
  padding-top: 9rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero__title {
  font-size: 50px;
  font-weight: 800;
}

.hero__subtitle {
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  font-size: 27px;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: #d92332;
}

.btn-text {
  flex: 1 1 0%;
}

.hero__image-container {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero__image-container {
  height: 100vh;
  flex: 1.5;
}

.hero__image {
  position: relative;
  z-index: 0;
  height: 590px;
  width: 90%;
}

.hero__image img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  object-fit: contain;
  max-width: 100%;
  display: block;
}

@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
  }
  .hero__image-container {
    height: 100vh;
    flex: 1.5;
  }
  .hero__image {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 640px) {
  .hero__left {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .hero__title {
    font-size: 64px;
  }
}
