.service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  height: 25rem;
  background-position: center;
  background-size: cover;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  gap: 10px;
  background: linear-gradient(rgba(6, 8, 30, 0.5), rgba(5, 8, 36, 0.5));
}

.service-title h6 {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2.5rem;
}

.service-description {
  margin-top: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
  color: white;
  text-align: center;
  height: auto;
}

@media only screen and (max-width: 1200px) {
  .service__item {
    height: 15rem !important;
    object-fit: cover;
  }

  .service-description {
    font-size: 0.8rem;
  }

  .service-title {
    font-size: 1rem;
  }

  .service h6 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}
