.swiper {
  width: 240px;
  height: 320px;
}

.slider__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  /* margin-bottom: 3rem; */
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.example-track.example-track-0 {
  background: rgba(237, 237, 237, 0.566);
}

.example-track.example-track-1 {
  background: #262526;
}

.example-track.example-track-2 {
  background: rgba(237, 237, 237, 0.566);
}

.horizontal-slider .example-thumb {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 48px;
  border-radius: 50%;
  font-size: 0.9rem;
  text-align: center;
  background-color: #D92332;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #262526;
}

.slider__label {
  text-align: center;
  font-weight: 600;
  color: #D92332;
  white-space: nowrap;
}